* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight:100;
}

.wrapper {
    width: 100%;
    background-color:#23424a;
}

.container {
    width: 65%;
    color: white;
    padding:4rem;
}

.container p, h1 {
    padding-block: .7rem;
}

.container button {
    padding:.8rem 2.2em;
    margin-top: 3.5em;
    border-radius: 25px;
    background-color: #38cfd9;
    text-transform: capitalize;
    font-weight: bold;
    outline: transparent;
}

.container button:hover {
    background-color: white;
    color: black;
}

.third {
    --grid-gap: 1rem;
    --grid-col: 3;
    --grid-size: 150px;
    
    
    --grid-col-calc:  calc((100% - var(--grid-gap) * var(--grid-col) - var(--grid-gap)) / var(--grid-col));
    --grid-size-calc: max( var(--grid-size), var(--grid-col-calc));


      display: grid;
      grid-template-columns: repeat(auto-fit, minmax( var(--grid-size-calc), 1fr));
      grid-template-rows: auto-fit;
      gap: var(--grid-gap);
      padding: 4rem;
    }
    
    
    .third > div *, .two > div * {
        justify-self: center;
        align-self: center;
        text-align: justify;
        padding-block: .7rem;
    }

    .third > div:hover{
        outline: 4px solid lightblue;
        padding: 1rem;
        text-decoration: underline blue;
    }
    
    .third h2 {
        color: #87629a;
    }


    .two {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem;
        gap: 1.3rem;
        background-color: #136c72;
        color: white;
    }

    .two > * {
        flex: 1 1 10em;
    }