*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  padding: 0;


  @media (width > 775px) {
    font-size: 19.5px;
  }

  @media (width < 775px > 650px) {
    font-size: 17.5px;
  }
}

img {
  max-width: 100%;
}

.wrapper {
  width: 80% !important;
  max-width: 1200px;
  margin: 0 auto;
}

/* header section */
.header {
  background-color: #2e323f;
  position: sticky;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  align-items: center;
  padding-block: 1rem;
  justify-content: center;
  width: 100%;


  @media (width < 535px) {
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
}

.mini__container{
  @media (width < 535px) {
    width: 100%;
    display: flex;
    align-items: center;
    padding-block: .8rem 1.2rem;
  }
}

.logo {

  padding-right: 1rem;

  @media (width < 535px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding-right: 0;
  }
}

.nav {
  width: 80%;

  @media (width < 535px) {
    display: none;
  }
}

.nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;

  @media (width < 535px) {
    flex-direction: column;
  }
}

#list-one {
  margin-left: auto;

  @media (width < 535px) {
    margin-left: 0;
  }
}

.nav__list--item a {
  color:#fff;
  text-decoration: none;
}

.nav__list--item a:hover, .nav__list--item a:focus {
  cursor: pointer;
  opacity: .7;
}

.nav__list > li:nth-child(5) a, #last-one {
  border: solid #a59678;
  background-color: #a59678;
  border-radius: 50px;
  padding: .2em .5em;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.nav__list > li:nth-child(5) a:hover, .nav__list > li:nth-child(5) a:focus, #last-one:hover, #last-one:focus {
  background-color: #fff;
  color: #a59678;
  border: 1px solid #fff;
  font-weight: 800;
}

.dropdown__container {
  height: 2.5em;
  position: relative;
  z-index: 100;
  margin-left: auto;
  display: flex;
  align-items: center;

  @media (width > 535px) {
    display: none;
  }
}

.nav__toggle {
  width: 2.45em;
  height: 2.45em;
  position: absolute;
  top: -0;
  right: 0;
  z-index: 205;
  background-color: #eee;
  border-radius: 100%;
  display: flex;
  align-items: center;
}

.nav__toggle:hover, .nav__toggle:focus {
  opacity: .75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger, .hamburger::before, .hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background-color: #111;
}

.hamburger::before, .hamburger::after {
  content: "" ;
  width: 100%;
  position: absolute;
  transform-origin: center center;
  transition: transform 0.3s ease;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(6px);
}

.header__container:has(#nav-toggle__checkbox:checked) .hamburger {
  background-color: transparent;
}

.header__container:has(#nav-toggle__checkbox:checked) .hamburger::before {
  transform: rotate(45deg);
}

.header__container:has(#nav-toggle__checkbox:checked) .hamburger::after {
  transform: rotate(-45deg);
}

/*.mobile__nav {
  background-color: #2e323f;

  @media (width < 535px) {
  }
}

.dropdown__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown__menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown__menu li {
  padding: .8rem 0;
}
*/


.header__container:has(#nav-toggle__checkbox:checked)  .nav {
  display: block;
}

.header__container:has(#nav-toggle__checkbox:checked) .overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

/* hero section */
.hero {
  background-color: #3b4050;
  color: white;
}

.hero__container {
  display: flex;
  padding-block: 3.5rem;
  gap: 1rem;


@media (width < 650px) {
  flex-direction: column;
}
}

.header__hero {
  width: 50%;
  font-size: 2rem;

  @media (width < 650px) {
    width: 100%;
  }
}

.header__hero span {
  color: #a59678;
}

.aside__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;

  @media (width < 650px) {
    width: 70%;
    padding-block: 1rem;
  }
}

.button__hero {
  background-color: #a59678;
  color: #fff;
  padding: .4em .8em;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 900;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button__hero:hover, .button__hero:focus {
  background-color: #fff;
  border: 1px solid #fff;
  color: #a59678;
  font-weight: 900;
}


/*  col--3 section */
.col--3 {
  background-color:#efefef7f;
}

.col__container {
  display: flex;
  gap: 1rem;
  padding-block:2rem;
  text-align: center;
  
  
  @media (width < 775px) {
    flex-direction: column;
  }
}

.col__container * {
  flex: 1 1 31%;

  @media (width < 775px) {
    width: 95%;
    margin: 0 auto;
  }

  @media (width < 650px) {
    width: 100%;
  }
}



.h3, .h2 {
  color: #a59678;
  padding-bottom: .8rem;
  font-weight: 900;
}

/* main section */
.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding-block: 4rem;

  @media (width < 700px) {
    flex-direction: column;
  }
}

.main__content {
  width: 55%;

  @media (width < 700px) {
    width: 100%;
  }
}

.main__content .h2 {
  font-size: 2rem;
}

.main__content img {
  padding-block: 1rem;
}

.aside__main {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (width < 700px) {
    width: 100%;
    gap: 0;
    padding-block: 1rem;
  }
}

.row {
  background-color: #2e323f;
  color: #fff;
  padding: 1.5rem 1rem;
  text-align: center;

  @media (width < 700px) {
    padding-block: 2rem;
  }
}

.row > h3 {
  color : #FFF;
}

/* footer sec */
.footer {
  background-color: #3b4050;
  color: #fff;
}

.huge {
  padding: 3rem 3rem 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.col__4 {
  display: flex;
  padding-block: 2rem;


  @media (width < 775px) {
    flex-wrap: wrap;
  }
}

.col__4 .col--1  {
  flex : 1 1 40%;
  padding-right: 1.5rem;


  @media (width < 775px) {
    flex: 1 1 100%;
    padding-bottom: 1.5rem;
  }
}

.col--1 h4 {
  padding-bottom: 1rem;
}

.col--2 {
  flex: 1 1 20%;
}

.col-3 {
  flex: 1 1 20%;
}

.col--4 {
  flex: 1 1 20%;
}

.h4 {
  color: #a59678;
  font-weight: bolder;
}

.footer__list {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding: .6rem 0;


  @media (width < 775px) {
    padding: .3rem 0;
  }
}