/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-conent to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  /*background-image: url(20250323_091512.jpg);
  background-size:cover;*/
}

.container {
  background: #063844;
  color: white;
  width: 100%;
  padding: 2em 3rem;
}


.intro-content {
  width: 50%;
  color:aliceblue;
  padding-inline: 1rem;
}

.part2 {
  padding-inline: 3rem;
  padding-block: 2rem;
  width: 100%;
}

.part2 p {
  max-width: 80%;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.5;
  word-spacing: 2px;
  letter-spacing: 2px;
}