* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight:100;
}

img {
    max-width: 100%;
}


.main-wrapper {
    width: 100vw;
    padding-block: 4rem;
    padding-inline: 4rem;
    background-color:#23424a;


    @media (width < 730px) {
        padding-inline: 1.5rem;
        padding-block: 1.5rem;
        font-size: 1rem;
    }


    @media (width < 500px) {
        padding: 1rem;
        font-size: .8rem;
    }
}

.main-container {
    width: 100vw;
    padding-inline: 4rem;
}

.wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;


    @media (width < 730px) {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        padding-inline: 1.5rem 0;

    }
    
}


.wrapper-2 {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 2.5rem auto;
    font-weight: 450;
}

.image {
    width: 30%;


    @media (width < 730px)  {
        width: 45%; 
        padding: .9rem 0;
    };


}

.container {
    width: 65%;
    color: white;


    @media (width < 730px) {
        width: 85%;
    }
}

.container p {
    padding-top: 2rem;
    line-height: 1.5rem;


    @media (width < 800px) {
        font-size : .9rem;
    }

    @media (width < 730px) {
        padding-top: 1rem;
    }
}

#b1 {
    display:none;

    @media (width < 730px) {
        display: block;
    }
}

#b2 {
    @media (width < 730px) {
        display: none;
    }
}


.container button, .image button {
    padding:.8rem 2.2em;
    margin-top: 3.5em;
    border-radius: 25px;
    background-color: #38cfd9;
    text-transform: capitalize;
    font-weight: bold;
    outline: transparent; 

    
    @media (width < 730px) {
        padding: .56em .9em;
        margin-top: .8em;
        justify-self: start;
        text-align: center;
        font-size: .8rem;
    }
}

.container button:hover {
    background-color: white;
    color: black;
}


.task {
    width: 60%;
}

.task h2 {
    font-weight: 800;
    color: #20aa66;
    padding-block: 1.4rem;
    font-size: 1.8rem;
}

.task p {
    line-height: 2rem;
    padding-block: 1.9rem;
}

.third {
   /* --grid-gap: 1rem;
    --grid-col: 3;
    --grid-size: 150px;
    
    
    --grid-col-calc:  calc((100% - var(--grid-gap) * var(--grid-col) - var(--grid-gap)) / var(--grid-col));
    --grid-size-calc: max( var(--grid-size), var(--grid-col-calc));


      display: grid;
      grid-template-columns: repeat(auto-fit, minmax( var(--grid-size-calc), 1fr));
      grid-template-rows: auto-fit;
      gap: var(--grid-gap);
      padding: 4rem;*/

      display: flex;
      flex-direction: column;
      max-width: 30%;
      background-color: #136c72;
      color: white;
      padding: 1.5rem 2rem;
      text-align: center;
    }
    
    .third p {
        line-height: 1.8rem;
    }
    

    /*.third > div:hover{
        outline: 4px solid lightblue;
        padding: 1rem;
        text-decoration: underline blue;
    }*/
    
    .third h2 {
        color: white;
        font-weight: 800;
        padding-block: 1rem;
    }


    .two {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem;
        gap: 1.3rem;
        background-color: #136c72;
        color: white;
    }

    .two > * {
        flex: 1 1 10em;
    }